<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
    </head>
    <body>
        <h1>{{title}}</h1>
        <img src="/img/group.jpeg">
        <p>Create by {{name}}</p>
    </body>
</html>